.my-form-align{
    width: 340px;
    margin: 10% auto;
}

.my-form-align form{
    margin-bottom: 5%;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 7%;
}

.my-form-align form button{
    margin-top: 10%;
    display: block;
    width: 100%;
}

.books_flex_box{
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
}

@media (min-width: 600px){
    .books_flex_box{
        width: 500px;
    }
}

.books_flex_box > div{
    margin: 5px auto;
    padding: 10px;
    width: 200px;
}

.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:5px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}

.books_flex_box > .flex_text_area{
    width: 400px;
}

#my-review-form-align{
    width: 600px;
    margin: 20px auto;
}

@media (max-width: 599px){
    #my-review-form-align{
        width: 70%;
    }
}

@media (max-width: 325px){
    #my-review-form-align{
        width: 325px;
    }
    .books_flex_box{
        width: 200px;
    }
}