{% extends "layout_afterLogin.html" %}

{% block title %} Review {% endblock %}

{% block body %}

<div class="books_flex_box">
    <div>
        <img src="{{ url_for('static', filename='thisIsCS50.png') }}" class="img-fluid" alt="Responsive image">
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th class="table-dark">Book</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-primary">{{ book_data.isbn }}</td>
                </tr>
                <tr>
                    <td class="table-info">{{ book_data.title }}</td>
                </tr>
                <tr>
                    <td class="table-primary">{{ book_data.author }}</td>
                </tr>
                <tr>
                    <td class="table-info">{{ book_data.year }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="my-form-align" id="my-review-form-align">
    <form action="{{ url_for('submit_review') }}" method="POST">
        <div class="books_flex_box">
            <div class="form-group rating">
                <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
                <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
                <span><input type="radio" name="rating" id="str3" value="3" required><label for="str3"></label></span>
                <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
                <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
            </div>
        </div>

        <div class="books_flex_box">
            <div class="form-group flex_text_area">
                <label for="exampleFormControlTextarea1">Reivews</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="user_review"></textarea>
            </div>
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" name="book_isbn" value="{{ book_data.isbn }}">
        </div>
        <div class="form-group">
            <button type="Submit" class="btn btn-primary">Submit Review</button>
        </div>
    </form>
</div>

{% endblock %}