{% extends "layout_afterLogin.html" %}

{% block title %} Review {% endblock %}

{% block body %}

<div class="books_flex_box">
    <div>
        <img src="{{ url_for('static', filename='thisIsCS50.png') }}" class="img-fluid" alt="Responsive image">
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th class="table-dark">Book</th>
                </tr>
            </thead>
            <tbody>
                <tr><td class="table-primary">{{ book_data.isbn }}</td></tr>
                <tr><td class="table-info">{{ book_data.title }}</td></tr>
                <tr><td class="table-primary">{{ book_data.author }}</td></tr>
                <tr><td class="table-info">{{ book_data.year }}</td></tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}